<header class="header bg-full d-flex align-items-end">
    <div class="container d-flex align-items-center">
        <h2 class="font-weight-bold fz-14 fz-md-24 fz-lg-32 mr-1 mr-md-2 mr-lg-3"><%- title %></h2>
        <img src="assets/images/icon/icon-help.svg" alt="Help" class="icon mr-2">
    </div>
</header>