

<div class="container-fluid">
    <ul class="product-header fz-7 fz-md-14 fz-lg-21 row justify-content-lg-center">
        <li class="col-4 col-lg-auto">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <img src="assets/images/icon/icon-diamond-black.svg" alt="Optical" class="icon mr-1">
                <h3>OPTICAL</h3>
            </a>
        </li>
        <li class="col-4 col-lg-auto">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <img src="assets/images/icon/icon-sun-black.svg" alt="Sunglasses" class="icon mr-1">
                <h3>SUNGLASSES</h3>
            </a>
        </li>
        <li class="col-4 col-lg-auto">
            <a href="#" class="d-flex justify-content-center align-items-center">
                <img src="assets/images/icon/icon-thunder-black.svg" alt="Functional" class="icon mr-1">
                <h3>FUNCTIONAL</h3>
            </a>
        </li>
    </ul>
</div>
<div class="d-flex justify-content-between">
    <img src="<%- bannerPath_1 %>" alt="Banner-1">
    <img src="<%- bannerPath_2 %>" alt="Banner-2">
</div>
